.body{
    background-color: #EBF6FF;
    height: auto;
    width: auto;
}
.view-all{
    background-color: #7F71D4;
}
.view-all p{
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 600;
}
.cards-icon{
    background-color: #7F71D4;
}
.icon-name{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
color: #07224D;
}
.icon-stats{
    font-size: 22px;
    font-family: 'Poppins';
    color: #07224D;
}
.pie-chart{
    width: 90%;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 20px;
}
.piechart{
    width: 58%;
    height: auto;
     margin: auto;
     padding-top: 6px;
}
.line-chart{
    height:auto;
    width: 100%;
    margin-top: 35px;
}
.bar-chart{
    width: 100%;
    border-radius: 20px;
height: auto;
    background-color: #fff;
    padding: 10px;
}
.cards{
    width: 40%;
    margin-left: 30px;
    margin-top: 50px;
}
.stats-cards{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bar-chart{
}

.Charts{
    margin-top: 3%;
}